[Unit]
Description="HashiCorp Consul - A service mesh solution"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target

[Service]
Type={{consul_systemd_type}}
User={{consul_user}}
Group={{consul_group}}
ExecStart={{consul_systemd_exec_command}}
ExecReload={{consul_bin}} reload
KillMode={{consul_systemd_kill_mode}}
Restart={{consul_systemd_restart}}
RestartSec={{consul_systemd_restart_sec}}
LimitNOFILE={{consul_systemd_limit_no_file}}
TimeoutStopSec={{consul_systemd_timeout_stop_sec}}

[Install]
WantedBy=multi-user.target
